@import "/modules/remoteprocessing/public/css/common.less";

@fieldsPadding : 90px;
@workflowFieldsWidth : 300px;

// Step 2 Form
#workflowForm, #workflowDomainForm{
  span{
    width:@fieldsPadding;
    font-weight: bold;
    display: inline-block;
  }
  input{
    width:@workflowFieldsWidth;
  }
  textarea{
    width:(@workflowFieldsWidth -4px);
    margin-left:(@fieldsPadding+4px);
    position:relative;
    top:-14px;
  }
}

div#createDomain{
  display:none;
  .genericShadowDiv(460px);
}

div#dialogJobCreation{
  display:none;
}

div#jobListing{
  clear:both;
  margin-top:10px;
}

.executableForm{
  border: 1px solid #CCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-top: 10px;
}

button.toggleJob{
  height:25px;
}

.optionWrapper, .nameWrapper{
  border: 1px solid grey;
  margin-bottom: 2px;

  border: #354856 1px solid;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: #666 0 0 5px;
  box-shadow: #666 0 0 5px;
  -moz-box-shadow: 0px 0px 5px #666;
  padding: 0px 5px 6px 5px;
}
.optionWrapper h4, .nameWrapper h4{
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 14px;
  border-bottom: 1px solid grey;
}

#schedulerWrapper{
  border: 1px solid grey;
  margin-bottom: 2px;
  border: #354856 1px solid;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: #666 0 0 5px;
  box-shadow: #666 0 0 5px;
  -moz-box-shadow: 0px 0px 5px #666;
}


#uploadContentBlock .ui-widget-content {
background: #F8F8F8!important;
}

.reviewUploaded form{
  display:none;
}

#wizard{
  display:none;
}

#uploadTabs{
  width: 571px!important;
}

#browseExecutableFile a img{
  position:relative;
  top:2px;
  margin-right: 2px;
}

#browseExecutableFile a span{
  position:relative;
  top:-2px;
}

#metaWrapper{
  display:none;
}

#metaWrapper .viewMain{
  width: 95%!important;
}