<Directory /var/www/vagrant>
	Options FollowSymLinks
	AllowOverride All
</Directory>

<VirtualHost *:80>
	ServerName localhost
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/vagrant
</VirtualHost>
