<Directory /var/www/vagrant>
	Options FollowSymLinks
	AllowOverride All
</Directory>

<VirtualHost *:80>
	ServerName localhost
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/vagrant
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
