
#renderercontainer {
  z-index: 2;
  overflow: hidden;
  width: 575px;
  height: 575px;
  display: none;
  position: relative;
}

img.visuLoading {
  z-index: 100;
  margin-top: 10px;
  margin-left: 10px;
}

#rendererOverlay {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
}

span.infoValue {
  color: #7a7a7a;
}

table.extractSubgridTable {

}

table.extractSubgridTable td {
  padding-bottom: 20px;
}

table.extractSubgridTable input.sb {
  width: 55px;
  border: 1px solid gray;
}

.sliderX,.sliderY,.sliderZ {
  width: 370px;
  margin-left: 11px;
  margin-right: 11px;
}

button.cameraPreset {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border: 1px solid #aaaaaa;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

button.plusX {
  background-image: url(../../images/pqXPlus24.png);
}

button.minusX {
  background-image: url(../../images/pqXMinus24.png);
}

button.plusY {
  background-image: url(../../images/pqYPlus24.png);
}

button.minusY {
  background-image: url(../../images/pqYMinus24.png);
}

button.plusZ {
  background-image: url(../../images/pqZPlus24.png);
}

button.minusZ {
  background-image: url(../../images/pqZMinus24.png);
}

button.cameraPreset:hover {
  background-color: #aaddaa;
}


