# Midas Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

<FilesMatch "\.(ini|sql|php|phtml|csv)$">
		<IfModule authz_core_module>
				Require all denied
		</IfModule>

		<IfModule !authz_core_module>
				Order deny,allow
				Deny from all
		</IfModule>
</FilesMatch>
