# Midas Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

**/*.min.js
**/jqplot*.js
**/jquery*.js
bower_components/
library/SwaggerUI/
modules/{pvw,visualize}/public/js/jquery/colorpicker.js
modules/statistics/public/js/googlemaps/*.js
modules/visualize/public/js/{paraview,webgl}/*.js
node_modules/
vendor/
