
/nbproject
/.project
/.buildpath
/.settings
/application/configs/database.local.ini
/application/configs/application.local.ini
/application/configs/core.local.ini
/tests/log/coverage
/tests/log/testdox.html
/.zfproject.xml
/bin
/tests/Testing
.DS_Store
