# Midas Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

.DS_Store
.idea/
.php_cs.cache
.sass-cache/
/.vagrant/
/composer.lock
/composer.phar
/env/
/site/
/vendor/
bower_components/
node_modules/
