# Midas Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

.DS_Store
.idea/
.sass-cache/
.vagrant/
bower_components/
composer.lock
composer.phar
cron.yaml
env/
node_modules/
site/
vendor/
