<IfModule mod_rewrite.c>
# Zend rewrite rules
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

</IfModule>

# Security: no folder fetching
Options -Indexes

# Configuration PHP
php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag short_open_tag on