# MIDAS Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

Options -Indexes

<IfModule deflate_module>
    SetOutputFilter DEFLATE
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule php_module>
    php_flag magic_quotes_gpc off
    php_flag register_globals off
    php_flag short_open_tag on
</IfModule>

<IfModule rewrite_module>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* index.php
</IfModule>
