/*-------------------------------------------------
GENERIC
-------------------------------------------------*/

form.genericForm{
  
}

form.genericForm dt label{
display: block;
float: left;
margin-right: 5px;
text-align: right;
width: 200px;
}


form.genericForm input[type=submit],form.genericForm input[type=button]
{
margin-left: 116px;
background: #F6F9FE url(images/ui-bg_glass_85_f6f9fe_1x400.png) repeat-x 50% 50%;
border: 1px solid grey;
color: #2E6E9E;
font-weight: bold;
cursor: pointer;
cursor: pointer;
display: inline-block;
margin-right: 0.1em;
overflow: visible;
position: relative;
text-align: center;
text-decoration: none !important;
zoom: 1;
-webkit-box-align: center;
-webkit-box-sizing: border-box;
line-height: 1.4;
}

form.genericForm input[type=submit]:hover,form.genericForm input[type=button]:hover
{
color: #1d5987; text-decoration: none;
background: #cbd9e3;
background-image: none;
}


form.genericForm input[type=submit][disabled],form.genericForm input[type=button][disabled]
{
color: grey; text-decoration: none;
background: #dbdbdb;
background-image: none;
}

form.genericForm input[type=submit][disabled]:hover,form.genericForm input[type=button][disabled]:hover
{
color: grey!important; text-decoration: none;
background: #dbdbdb!important;
background-image: none;
}



/*-------------------------------------------------
GENERIC DIV
-------------------------------------------------*/

form.genericForm{
  
}

form.genericForm div{
}

form.genericForm div label{
display: block;
float: left;
margin-right: 5px;
text-align: right;
width: 200px;
text-align: left;
}

form.genericForm input[type=text],form.genericForm input[type=password] ,form.genericForm textarea{
  margin-right: 10px;
  background: #F3F1EC;
  border: 1px solid grey;
  color: black;
  height: 18px;
}

form.genericForm input[type=text],form.genericForm input[type=password] {
  width:250px;
}

form.genericForm textarea{
  width:247px;
  height:35px;
}

form.genericForm input[type=text]:hover,form.genericForm input[type=password]:hover, form.genericForm textarea:hover{
  background: white;
}


form.genericForm div input[type=submit], input.globalButton ,form.genericForm input[type=button]
{
margin-left: 208px;
background: #F6F9FE url(images/ui-bg_glass_85_f6f9fe_1x400.png) repeat-x 50% 50%;
border: 1px solid grey;
color: #2E6E9E;
font-weight: bold;
cursor: pointer;
cursor: pointer;
display: inline-block;
margin-right: 0.1em;
overflow: visible;
position: relative;
text-align: center;
text-decoration: none !important;
zoom: 1;
-webkit-box-align: center;
-webkit-box-sizing: border-box;
line-height: 1.4;
}

form.genericForm input[type=submit]:hover ,input.globalButton:hover
{
color: #1d5987; text-decoration: none;
background: #cbd9e3;
background-image: none;

}



