body {
  border: 0px;
  font-family: Verdana, 'Lucida Grande', 'Lucida Sans Unicode', helvetica, arial, verdana, sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  text-align: left;
  width: 100%;
  height: 100%;
}

img{
  border:0px;
}

a {
  cursor:pointer;
}

a:visited {
  text-decoration: none;
  border:none;
}

a:active, li:active
{
  outline: none;
}

a:focus, li:focus
{
  -moz-outline-style: none;
}

img.thumbnailSmall{
  width: 32px;
  height: 32px;
  margin-right: 3px;
}

.ui-widget {

  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif !important;
  font-size: 12px!important;
}

div#guideRobot{
  display:none;
}

div.genericBigButton{
  font-size: 12px;
  font-weight: normal;
  color:black;
  cursor:pointer;
  display: block;
  float: left;
  border: #354856 1px solid;
  list-style-type: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c4c4));
  background-image: -moz-linear-gradient(center top, #ffffff 0%, #c4c4c4 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c4c4c4');
  -webkit-box-shadow: #666 0 0 2px;
  box-shadow: #666 0 0 2px;
  -moz-box-shadow: 0px 0px 2px #666;
  padding: 1px 3px 2px 3px;
}

div.genericBigButton a{
  font-size: 12px!important;
  font-weight: normal!important;
  color:black!important;
}

div.genericBigButton a:hover{
  text-decoration: none!important;
}


div.genericBigButton:hover{
  background-color: #bddcc9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bddcc9), to(#8ab79b));
  background-image: -moz-linear-gradient(center top, #bddcc9 0%, #8ab79b 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddcc9', endColorstr='#8ab79b');
}

div.genericWrapperTopRight{
  float:right;
}

div.viewAction li a:hover, div.genericAction li a:hover, div.viewSelected li a:hover{
  text-decoration: none;
}

div.viewAction li img, div.genericAction li img, div.viewSelected li img{
  position:relative;
  top:3px;
}

div.viewAction hr, div.genericAction hr{
  margin-bottom: 0px;
  margin-top: 3px;
  color: #D7D7D7;
  background-color: #D7D7D7;
  height: 1px;
  border: 0;
  width: 130px;
  margin-left: 0px;
}

div.viewSideBar h1 {
  color: #999;
  font-size: 11px;
  text-shadow: white 0px 1px 1px;
  text-transform: uppercase;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.jgrowl{
  min-width: 300px!important;
  min-height: 70px!important;
  z-index: 15102!important;
}

.jgrowl div{
  background-color: #578DBB!important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#578DBB), to(#325372))!important;
  background-image: -moz-linear-gradient(center top, #578DBB 0%, #325372 100% )!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#578DBB', endColorstr='#325372')!important;

  border: 2px solid grey!important;
  font-size: 13px!important;
  font-weight: bold!important;
  box-shadow: 0 0 5px #57BB7D!important;
  -webkit-box-shadow: 0 0 5px #57BB7D!important;
  -moz-box-shadow: 0 0 5px #57BB7D!important;
  margin-right:40px;
}
.uploadqtip{
  min-width: 600px!important;
  border: 1px solid grey!important;
}

.growlError {
  background: url(../../images/icons/nok.png) no-repeat;
  padding-left: 18px;
}

.growlWarning {
  background: url(../../images/icons/warning.png) no-repeat;
  padding-left: 18px;
}

.growlOk {
  background: url(../../images/icons/ok.png) no-repeat;
  padding-left: 18px;
}

.recentItem {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

div.viewWrapper a{
  cursor: pointer;
  color: #56758B;
  text-decoration: none;
  font-weight: 500;
}

div.viewWrapper a:hover{
  text-decoration: underline;
}
