# MIDAS Server. Copyright Kitware SAS. Licensed under the Apache License 2.0.

<IfModule expires_module>
    <FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
        ExpiresActive On
        ExpiresDefault "access plus 10 years"
    </FilesMatch>
</IfModule>

<IfModule rewrite_module>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*\.(js|css))$ smartoptimizer/?$1

    <IfModule expires_module>
        RewriteCond %{REQUEST_FILENAME} -f
        RewriteRule ^(.*\.(js|css|html?|xml|txt))$ smartoptimizer/?$1
    </IfModule>

    <IfModule !expires_module>
        RewriteCond %{REQUEST_FILENAME} -f
        RewriteRule ^(.*\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico))$ smartoptimizer/?$1
    </IfModule>
</IfModule>

<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
    FileETag none
</FilesMatch>
