div.Header div.HeaderLogo {
  background: url(../../images/SlicerLogoSmall.png) !important;
  width: 87px;
}

body{
  background: url(../../images/NAMICDemoBackground.png) !important;
}

div.Header {
  
  background-color: white!important;
  background-image: none !important;
  background-image: none !important;
  filter: none !important;
  -webkit-box-shadow: black 0px 0px 3px!important;
  -moz-box-shadow: 0px 0px 6px black!important;
}

div.SideBar ul li a{
  color:black!important;
}

div.SideBar{
  background-color: white!important;
  -webkit-box-shadow: black 0px 0px 3px!important;
  -moz-box-shadow: 0px 0px 6px black;
  border: 1px solid #D7D7D7;
   -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;  
}

div.SubMainContent{
  -webkit-box-shadow: black 0px 0px 3px!important;
  -moz-box-shadow: 0px 0px 6px black!important;
}