form.assetstoreForm{
font-size: 12px;
}

form.assetstoreForm dl {
margin-top: 0px;
width: 250px;
}

form.assetstoreForm dl dt {
clear:both;
text-align: left;
font-weight: bold;
margin-top: 5px;
}

form.assetstoreForm dl dd {
width: 250px;
text-align: left;
margin-left: 0px;
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
border-bottom: 1px solid #EEEEEE;
}

#addassetstore-label
{
  display:none;
}

dd.submit-element {
  border-bottom: 0px;
}

#addassetstore-label
{
  border-bottom: 0;
}
