/* Remove the sidebar padding */
div.viewWrapper {
  padding-right: 30px !important;
}

div.queryArea {
  margin-top: 10px;
}

div.topText {
  margin-top: 8px;
}

#advancedQueryField {
  width: 600px;
  height: 36px;
  max-width: 800px;
}

#advancedSearchButton {
  margin-left: 0px !important;
  padding: 4px 13px 4px 13px;
}

#resultsArea {
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #d0d0d0;
}

img.resultsLoading {
  margin-top: 10px;
}

div.itemResult {
  border-bottom: 1px dotted #bbbbbb;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.pageItrButtons {
  margin-top: 15px;
  float: right;
}
