<phpunit bootstrap="./bootstrap.php"  colors="true">
        <testsuite name="Midas">
                <directory>./</directory>
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../core/controllers</directory>
            <directory suffix=".php">../core/models/pdo</directory>
            <directory suffix=".php">../core/models/dao</directory>
            <directory suffix=".php">../library/MIDAS</directory>
            <exclude>
                <file>../core/Bootstrap.php</file>
                <file>../core/controllers/ErrorController.php</file>
                <directory suffix=".phtml">../core/</directory>
            </exclude>
        </whitelist>
    </filter>


    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-clover" target="./log/coverage.xml" charset="UTF-8"/>
        <log type="testdox-html" target="./log/testdox.html" />
        <log type="junit" target="./log/junit.xml" logIncompleteSkipped="false"/>
        <log type="json" target="./log/json.txt" logIncompleteSkipped="false"/>
    </logging>
</phpunit>