div#revisionContent{
  display:none;
}
div.viewAction{
  display:block!important;
}

div.viewInfo{
  display:block!important;
}

table#browseTable{
  display: table!important;
}

table#metadataTable {
  display: table!important;
  width: 580px;
  table-layout: fixed;
}

table#metadataTable th.elementHeader {
  width: 6em;
}

table#metadataTable td {
  overflow: hidden;
  -o-text-overflow: ellipsis; /* Opera */
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.genericInfo {
  position: relative;
}

div.genericInfo .genericSubtitle {
  font-size: 10px;
}

#browseTable {
  margin-top:0px;
}

.itemStats {
	float: right;
  font-size: 10px;
  color: #777777;
  margin-right: 10px;
}

iframe#fullscreenVisualizeIframe{
  border:0;
}

div#fullscreenPanel{
  float:right;
  width:380px;
  -webkit-box-shadow: #CCC 0px 0px 3px;
  -moz-box-shadow: 0px 0px 6px #CCC;
  background-color: white;
  border: 1px solid #D7D7D7;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 0px 7px;
}

div#fullscreenPanel h1{
  font-size: 14px;
}

div#fullscreenPanel ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img.closeVisuButton{
  float:right;
}

div.manageMetadata{
  float:right;
}