div#revisionContent{
  display:none;
}
div.viewAction{
  display:block!important;
}

div.viewInfo{
  display:block!important;
}

table#browseTable{
  display: table!important;
}

table#metadataTable{
  display: table!important;
}

div.genericInfo {
  position: relative;
}

div.genericInfo .genericCompany {
  font-size: 10px;
}

#browseTable {
  margin-top:0px;
}

.itemStats {
	float: right;
  font-size: 10px;
  color: #777777;
  margin-right: 10px;
}

iframe#fullscreenVisualizeIframe{
  border:0;
}

div#fullscreenPanel{
  float:right;
}

div#fullscreenPanel ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img.closeVisuButton{
  float:right;
}