
span.infoValue {
  color: #7a7a7a;
}

table.extractSubgridTable {

}

table.extractSubgridTable td {
  padding-bottom: 20px;
}

table.extractSubgridTable input.sb {
  width: 55px;
  border: 1px solid gray;
}

.sliderX,.sliderY,.sliderZ {
  width: 370px;
  margin-left: 11px;
  margin-right: 11px;
}

button.cameraPreset {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border: 1px solid #aaaaaa;
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

button.plusX {
  background-image: url(../../images/pqXPlus24.png);
}

button.minusX {
  background-image: url(../../images/pqXMinus24.png);
}

button.plusY {
  background-image: url(../../images/pqYPlus24.png);
}

button.minusY {
  background-image: url(../../images/pqYMinus24.png);
}

button.plusZ {
  background-image: url(../../images/pqZPlus24.png);
}

button.minusZ {
  background-image: url(../../images/pqZMinus24.png);
}

button.cameraPreset:hover {
  background-color: #aaddaa;
}

div.sofBottomButtons {
  float: right;
  margin-top: 15px;
}

div.sofPointEdit {
  display: none;
  margin-top: 10px;
}

div.sofPointEdit {
  float: right;
}

input.scalarValueEdit,input.opacityValueEdit {
  width: 65px;
  border: 1px solid grey;
  margin-left: 5px;
  margin-right: 10px;
}

.scmColorPicker {
  width: 30px;
  height: 30px;
  background-image: url(../../images/select2.png);
  background-position: -3px -3px;
  display: inline-block;
  position: absolute;
  margin-left: 5px;
  margin-top: -4px;
  cursor: pointer;
}

input.scmScalarValue {
  width: 50px;
  border: 1px solid grey;
  margin-left: 5px;
  margin-right: 15px;
}

div.rgbPointContainer {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.scmDivider {
  border-top: 1px solid #d7d7d7;
}

div.scmBottomButtons {
  float: right;
  padding-top: 10px;
}

button.scmDeletePoint {
  margin-left: 48px;
  position: relative;
}

table.objectList {
  border-collapse: collapse;
  width: 100%;
}

table.objectList th.visibility {
  width: 20px;
}

table.objectList th {
  background-color: #d0d0f6;
  padding-left: 4px;
  border: 1px solid gray;
}

table.objectList td {
  border: 1px solid gray;
  padding-left: 2px;
}

div.objectListBottomButtons {
  float: right;
  margin-top: 10px;
}

#loadingStatus {
  margin-left: 10px;
}

div.presetSelectionContainer {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

select.scmPresets {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
