#locationUser{
  color:grey;
  font-size: 10px;
}

div.sideElementFirst ul li:hover {
  background-color: #e5e5e5;
  color:black;
}

.websiteBlock li {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
