div.registerContent {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

div.registerInfo {
  float: left;
  color: white;
  height: 140px;
  width: 250px;
  border: 1px solid grey;
  margin-top: 15px;
  margin-bottom: 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #363535;
  padding: 3px 3px 3px 3px;
}

div.registerInfo h4{
  margin-top: 2px;
  margin-left: 5px;
  color: #84acc8; 
  margin-bottom: 3px;
}
div.registerInfo h3{
  margin-top: 0px;
  margin-bottom: 0px;

}
div.registerInfo ul{
  list-style: circle;
  padding-left: 20px;
  padding-top: 3px;
  margin-top: 0px;
}
div.registerInfo li{
  color: #ddd;
}
div.registerInfo a{
  color: #84acc8;
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
}

div.register {
  
}

/*-------------------------------------------------
Register Form
-------------------------------------------------*/
form#registerForm {
  color: white;
  margin-left: 270px;
  padding-top: 15px;
}

form#registerForm div {
  
}

form#registerForm input[type=text],form#registerForm input[type=password]
  {
  background: #F3F1EC !important;
  border: 1px solid grey;
  color: black;
  height: 18px;
  width: 185px;
}

form#registerForm input[type=text]:hover,form#registerForm input[type=password]:hover
  {
  background: white !important;
}

form#registerForm input[type=submit] {
  
}

form#registerForm div span img {
  position: relative;
  top: 3px;
}

form#registerForm .termLabel {
  display: block;
}

form#registerForm div.registerError {
  position: absolute;
  color: #57BB7D;
}

form#registerForm div.registerError span {
  position: relative;
  top: -15px;
  display: none;
}

a.termOfService {
  color: #F3F1EC;
}

a.termOfService:hover {
  color: #F3F1EC;
}
