div#tabsSettings{
  width: 800px;
  display: none;
}

form#modifyAccount span{
  float:left;
  width: 80px;
}

form#modifyAccount input[type="text"], form#modifyAccount input[type="password"] {
  width: 200px !important;
}

form#modifyPassword input[type="password"] {
  width: 200px !important;
}

div#accountPrivacy{
  margin-left: 100px;
}

div#accountPrivacy label{
  width: auto!important;
  float: none!important;
}

div#accountPrivacy br {
  display:none;
}

div#imageActual{
  float:right;
}

.ui-tabs-panel h3 {
  margin-top: 0px;
}

/** Tabs*/
div#tabsSettings .ui-tabs-nav {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #d7d7d7 !important;
  background: none !important;
  border-radius: 0;
  padding-left: 10px;
  height: 22px !important;
}

div#tabsSettings .ui-widget-content,div#tabsSettings{
  background: none!important;
}

div#tabsSettings .ui-tabs .ui-tabs-nav li a{
  padding: 3px 10px !important;
}
.ui-tabs .ui-tabs-nav li a{
  padding: 3px 10px !important;
}

div#tabsSettings .ui-tabs-selected,div#tabsSettings .ui-tabs-selected a{
  color: #1D5987 !important;
  font-weight: bold;
  height: 19px!important;
}

div#tabsSettings .ui-state-default{
  height: 20px;
}

div#tabsSettings .ui-tabs-panel {
  width: 99%;
}
