table#moveTable{
  width: 420px !important;
}

table#moveTable th.thData {
width: auto!important;
border-right: none!important;
}

table#moveTable{
  display: none;
}

#browserWrapper{
  height:auto;
  max-height: 450px;
  overflow-x: hidden!important;
  overflow-y: auto!important;
  border-bottom: 1px dotted #E4E4E4;
  border-top: 1px dotted #E4E4E4;
  margin-bottom: 3px;
  margin-top: 3px;
}

.treeTable .browserPrivacyInformation {
  position: relative!important;
  float: right!important;
  left: -20px!important;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

div.selectedItemContainer {
  margin-bottom: 5px;
}

div.bottomButtons {
  float: right;
  margin-top: 10px;
}

input#live_search_item {
background: white url(../../images/icons/search.png) no-repeat scroll 2px 1px;
border: 1px solid white;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
border-radius: 4px;
font-size: 12px;
opacity: 0.9;
padding: 2px 10px 2px 22px;
-webkit-box-shadow: #666 0 0 3px;
box-shadow: #666 0 0 3px;
-moz-box-shadow: 0px 0px 3px #666;
width:260px;
}

#searchloadingSelectItem{
  display: inline-block;
  background: url("../../images/icons/loading-small.gif") bottom center no-repeat;
  color:#FFFFFF;
  text-decoration:none;
  width: 16px;
  height: 16px;
  margin-left: 6px;
}
