table#moveCopyTable{
  width: 420px !important;
}

table#moveCopyTable th.thData {
  width: auto!important;
  border-right: none!important;
}

table#moveCopyTable{
  display: none;
}

#moveCopyTable .browserPrivacyInformation{
  right: 10px!important;
}

#moveCopyForm input[type=submit] {
  margin-left: 10px;
}

div.movecopySubmitWrapper {
  margin-top: 10px;
  float: right;
}

div.copySymlinkSelect {
  margin-bottom: 8px;
  padding-top: 6px;
}

div.destinationDisplay {
  margin-bottom: 8px;
}
