table#moveTable{
  width: 420px !important;
}

table#moveTable th.thData {
width: auto!important;
border-right: none!important;
}

table#moveTable{
  display: none;
}

.treeTable .browserPrivacyInformation{
  right: 10px!important;
}