table#moveCopyTable{
  width: 420px !important;
}

table#moveCopyTable th.thData {
width: auto!important;
border-right: none!important;
}

table#moveCopyTable{
  display: none;
}

#moveCopyTable .browserPrivacyInformation{
  right: 10px!important;
}