/** Tabs*/
div.ui-tabs{
  padding: 0px 0px 0px 0px !important;
  border: 0px;
}

div#tabs{
  display: none;
}

div#tabs .ui-tabs-nav{
  border:0px !important;
  background: none !important;
}

div#tabs .ui-tabs-nav{
  border-bottom: 1px dotted grey;
}

div#tabs .ui-state-default{
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #C5DBEC!important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #F3F1EC;
}

div#tabs .ui-tabs-selected,div#tabs .ui-tabs-selected a{
  color:#1D5987 !important;
  font-weight: bold;
  height:29px!important;
}

div#tabs .ui-state-default{
  height: 30px;
}


div#tabs .ui-tabs-panel {
  position: relative !important;
  left: -15px!important;
  border-top: 1px solid #F3F1EC;
  width: 99%;
}