span#running_status{
  font-weight: bold;
  color: #009900;
}

span#not_running_status{
  font-weight: bold;
  color: #C80000;
}

textarea#apicall_failure_reason{
  font-weight: bold;
  color: #C80000;
}

div.manualCommandsWrapper li {
  margin: 10px 0px;
}

span.set_bold{
  font-weight: bold;
}
