
div.tabs{
  display: none;
}

div.genericThumbnail{
  float:left;
}

div.genericInfo{
  height: 40px;
}

div.genericAction{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

div.genericAction ul,div.genericCommunities ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

div.genericCommunities{
  border-bottom: 1px solid white;
  border-top: 1px solid #DAD8D4;
  padding-bottom: 10px;
}

div.genericStats{
  border-top: 1px solid #DAD8D4;
}

div.viewAction{
  display:none;
}

div.viewInfo{
  display:none;
}

div.genericInfo .genericName{
  font-weight: bold;
  font-size: 16px;
}

div.genericInfo .genericCompany{
  font-weight: bold;
}
