ul.pathBrowser {
  display: block;
  list-style-type: disc;
  margin: 0px;
  padding-left: 0px;
}

ul.pathBrowser li {
  margin: 0;
  list-style: none;
  float: left;
  background-repeat: no-repeat;
  background-position: right;
  display: list-item;
  padding: 5px 16px 0px 3px;
  background-image: url("../../images/icons/path-divider.png");
  min-height: 19px;
}

ul.pathBrowser li img {
  position:relative;
  top: -2px;
  margin-right: 2px;
}


ul.pathBrowser li span {
  position:relative;
  top: -4px;
}


ul.pathBrowser li a {
  font-size: 14px;
  color: #333B80;
  font-weight: bold;
}

ul.pathBrowser li a:hover {
  text-decoration: none;
  color: #337755;
}

span.infoTitle{
  font-weight: bold;
  word-wrap: break-word;
}

input.deleteSelectedYes {
  margin-left: 0 !important;
}

input.deleteSelectedNo {
  margin-left: 15px !important;
}

div.dialogButtons {
  float: right;
}

#deleteSelectedLoadingGif {
  display: none;
  float: left;
}
