/*div.viewHeader {
  padding: 0px 15px !important;
  min-height: 24px !important;
}*/

ul.pathBrowser{
  padding-top: 3px;
  display: block;
  list-style-type: disc;
  margin: 0px;
  padding-left: 0px;
  float: left;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

ul.pathBrowser li{
  margin: 0;
  list-style: none;
  float: left;
  background-repeat: no-repeat;
  background-position: right -3px;
  display: list-item;
  padding: 0px 22px 7px 3px;
  text-shadow: 0px 1px 0px #EEE;
  background-image: url("../../images/icons/path-divider.png");
}


ul.pathBrowser li img{
  position:relative;
  top:0px;
}


ul.pathBrowser li span{
  position:relative;
  top:-2px;
}


ul.pathBrowser li a{
  font-size: 14px;
  text-shadow: white 0px 1px 1px;
  color: #333BA0;
  font-weight: bold;
}

span.infoTitle{
  font-weight: bold;
}

input.deleteSelectedYes {
  margin-left: 0 !important;
}

input.deleteSelectedNo {
  margin-left: 15px !important;
}

div.dialogButtons {
  float: right;
}

#deleteSelectedLoadingGif {
  display: none;
  float: left;
}
