div.feedContainer {

}

div.feedContainer div.feedElement{
  min-height: 30px;
  border-bottom: 1px dotted #e4e4e4;
  position: relative;
}

div.feedContainer div.feedUserImage{
  float:left;
}

div.feedContainer div.feedDate{
  position: absolute;
  bottom: 0px;
  right:0px;
  color: grey;
  font-size: 10px;
}

img.feedDeleteLink{
  display:none;
  width:10px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
div.feedDelete{
  position: absolute;
  top: 0px;
  right:0px;
  width:10px;
  height: 10px;
}