div.titleWrapper {
  border-bottom: 1px solid #d7d7d7;
}

div.applicationName {
  color: #525252;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

div.applicationDescription {
  color: #6d6d6d;
  margin-bottom:8px;
}

#packageList {
  margin-top: 15px;
}

#packageList h3 a {
  text-decoration: none;
}

div.releaseEntry{
  border-top: 1px solid #A7A7A7 !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
}

table.packagesTable{
  width:550px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select:none;
  border-collapse:collapse;
}

table.packagesTable th{
  padding-left: 5px;
  background-color: #CCD7E0;
  border: 1px #888888 solid;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial;
}

th.actions {
  width: 40%;
}

th.platform {
  width: 30%;
}

th.type {
  width: 30%;
}

table.packagesTable tbody td {
  padding-left: 3px;
  border: 1px solid #a7a7a7;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Arial;
}

table.packagesTable tbody td img {
  position: relative;
  top: 2px;
}

form.editApplication input[type=text] {
  width: 300px;
}

form.editApplication textarea {
  width: 298px;
  resize: none;
}
