div.itemsContainer {
  margin-top: 6px;
  margin-bottom: 10px;
}

div.dateControlContainer {
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #d7d7d7;
}

input.dateSelect {
  background: white url(../../../../statistics/public/images/calendar.png) no-repeat scroll 2px 1px;
  border: 1px solid grey;
  padding-left: 20px;
  width: 120px;
}

#filterButton {
  margin-left: 2px !important;
}

div.chartContainer {
  width: 560px;
  height: 360px;
}

span.infoItem {
  color: #979797;
}

span.itemLinkNone {
  color: #a5a5a5;
  font-style: italic;
}

span.noPoints {
  color: #909090;
}

.yMin,.yMax,.y2Min,.y2Max {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

div.bottomButtons {
  margin-top: 15px;
  float: right;
}

div.deleteProgressBar {
  margin-top: 10px;
  margin-bottom: 6px;
}

div.bottomButtonsDelete {
  margin-top: 20px;
  float: right;
}

input.deleteYes,input.deleteNo {
  margin-left: 10px !important;
}

div.belowChartText {
  margin-top: 20px;
  font-style: italic;
  color: #707070;
}

span.redText {
  font-weight: bold;
  color: red;
}

div.toggleUnofficialIcon {
  position: relative;
  top: 2px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

div.toggleUnofficialIcon.toHide {
  border: 1px dashed #f22;
}

div.toggleUnofficialIcon.toShow {
  background-color: #f22;
}
