#ratingsAverage {
  width: 250px;
  float: left;
}


#ratingsUser {
  width: 200px;
  height: 25px;
  float: right;
}

div.ratingCountWrapper {

}

span.averageStats {
  margin-left: 7px;
  color: #676767;
}

span.addRating {
  margin-right: 7px;
  color: #676767;
  float: left;
}
