#ratingsAverage {
  width: 200px;
  float: left;
}


#ratingsUser {
  width: 200px;
  float: right;
}

div.ratingsVSpacer {
  height: 30px;
}

div.ratingCountWrapper {

}

span.averageStats {
  margin-left: 7px;
  color: #676767;
}

span.addRating {
  margin-right: 7px;
  color: #676767;
  float: left;
}

div.loginToRate {
  padding-bottom: 8px;
  font-size: 12px;
  float: right;
}

#registerToRate,#loginToRate {
  font-weight: bold;
  text-decoration: none;
  color: #56758B;
}

#registerToRate:hover,#loginToRate:hover {
  text-decoration: underline;
  cursor: pointer;
}
