div.introText {
  margin-bottom: 20px;
}

div.producerList a.producerLink {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

div.producerList a.producerLink:hover{
  text-decoration: underline;
  text-transform
}

div.noProducers {
  font-style: italic;
}

div.producerDescription {
  margin-top: 6px;
}

div.producerContainer {
  margin-top: 20px;
  padding-top: 8px;
  border-top: 1px solid #d7d7d7;
}

div.createProducerContainer {
  border-top: 1px solid #d7d7d7;
  padding-top: 10px;
  margin-top: 20px;
}

form.createProducer input[type=text] {
  width: 300px;
}

form.createProducer textarea {
  width: 298px;
  resize: none;
}
