table.instances {
  border-collapse: collapse;
}

table.instances th {
  padding: 3px;
  border: 1px solid #d7d7d7;
  background-color: #bbdddd;
}

table.instances td {
  padding: 3px;
  border: 1px solid #d7d7d7;
}

span.running {
  color: green;
}

span.dead {
  color: red;
}

img.killInstance:hover {
  cursor: pointer;
}