div.communityList{
  
}

div.communityList div{
  border-bottom: 1px dotted grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.communityList a{
  font-weight: bold;
  font-size: 14px;
}

div.communityList span{
  padding-left: 15px;
}