@import "/modules/remoteprocessing/public/css/common.less";

@fieldsPadding : 90px;
@workflowFieldsWidth : 300px;

// Step 2 Form
#workflowForm, #workflowDomainForm{
  span{
    width:@fieldsPadding;
    font-weight: bold;
    display: inline-block;
  }
  input{
    width:@workflowFieldsWidth;
  }
  textarea{
    width:(@workflowFieldsWidth -4px);
    margin-left:(@fieldsPadding+4px);
    position:relative;
    top:-14px;
  }
  #manageWorkflowSave{
  width: 100px;
  }
}

div.viewWrapper {
padding-right: 100px!important;
}