div.viewSideBar input.globalButton{
  margin-left: 0px!important;
}


div.viewWrapper {
  padding-right: 40px !important;
}

div.assetstoreElement{
  margin-bottom: 10px;
}

tr.moduleElementError td{
  color:grey;
  font-size: 11px;
}

a.moduleVisibleCategoryLink, a.moduleHiddenCategoryLink{
  font-weight: bold!important;
  font-size: 13px!important;
}

