.databaseIntegrityWrapper {
  margin-top: 5px;
  padding-top: 10px;
  border-top: 1px solid #d7d7d7;
}

.databaseIntegrityWrapper ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.sectionHeader {
    padding-bottom: 1ex;
}

.integrityButton {
    position: absolute;
    right: 200px;
}

#cleanupProgressMessage {
  margin-top: 10px;
}

.integrityItem {
    margin: 6px;
}
