div.viewSideBar input.globalButton{
  margin-left: 0px!important;
}


div.viewWrapper {
  padding-right: 40px !important;
}

div.assetstoreElement{
  margin-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 8px;
}

div.assetstoreNameContainer {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
}

div.assetstoreActions {
  margin-top: 5px;
}

.errorText,.freeSpaceWarning {
  color: red;
}

tr.moduleElementError td{
  color:grey;
  font-size: 11px;
}

a.moduleVisibleCategoryLink, a.moduleHiddenCategoryLink{
  font-weight: bold!important;
  font-size: 13px!important;
}

#newassetstore-form {
  padding: 10px;
}

div.addAssetstoreFormError {
  margin-bottom: 9px;
}

